@import '../../assets/scss/keyframes';
@import '../../assets/scss/colors';

.wrapper {
  background: $gradient-background;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .game-start {
    background: $main-background;
    border-radius: 15px;
    width: 300px;
    margin: 0;
    animation: scale-up-center 1.5s;
    box-shadow: 10px 10px 26px -13px rgba(0, 0, 0, 0.75);

    .header {
      padding: 18px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      border-bottom: 1px solid rgb(160, 160, 160);
    }

    .content {
      padding: 9px;

      .button {
        cursor: pointer;
        padding: 9px;
        margin-bottom: 16px;

        .field-size {
          font-size: 30px;
          color: $dark-blue;
          font-weight: bold;

          i {
            margin-right: 8px;
          }
        }

        .bomb-count {
          color: grey;
          float: right;
          margin-top: 10px;
        }

        &.selected {
          background: $login-select;
        }
      }

      .button:hover {
        background: $login-select;
      }
    }

    .start {
      background: $dark-blue;
      height: 35px;
      width: 100%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      color: white;
      cursor: pointer;
      text-align: center;
      padding-top: 15px;
    }

    .start:hover {
      background: $dark-blue-hover;
    }
  }

  footer {
    position: absolute;
    right: 18px;
    bottom: 14px;
  }
}
