<div class="wrapper">
  <div class="game-start">
    <div class="header">
      Galaxy Minesweeper
    </div>
    <div class="content">
      <div class="button" (click)="selected = 1" [ngClass]="{ selected: selected === 1 }" >
        <span class="field-size"><i class="fas fa-chess-board"></i> 9x9</span>
        <span class="bomb-count">10 <i class="fas fa-bomb"></i></span>
      </div>
      <div class="button" (click)="selected = 2" [ngClass]="{ selected: selected === 2 }" >
        <span class="field-size"><i class="fas fa-chess-board"></i> 16x16</span>
        <span class="bomb-count">40 <i class="fas fa-bomb"></i></span>
      </div>
    </div>
    <div class="start" (click)="startGame()">
      Start game
    </div>
  </div>
  <footer>
    Tóth Bence (60) - 2019
  </footer>
</div>
