<div class="wrapper">
  <div class="game-start">
    <div class="header">
      Galaxy Minesweeper
    </div>
    <div class="info">
        <em>Select a board size and click to "Start game" button!</em>
    </div>
    <div class="content">
      <div *ngFor="let board of config">
        <div class="button" (click)="selectSize(board.boardSize, board.bombsCount)" [ngClass]="{ selected: boardSize === board.boardSize }">
          <span class="field-size"><i class="fas fa-chess-board"></i> {{ board.boardSize }}x{{ board.boardSize }}</span>
          <span class="bomb-count">{{ board.bombsCount }} <i class="fas fa-bomb"></i></span>
        </div>
      </div>
    </div>
    <div class="start" (click)="startGame()">
      Start game
    </div>
  </div>
  <footer>
    Tóth Bence (60) - 2019
  </footer>
</div>
