$gradient-background: radial-gradient(ellipse at bottom, #2c3f55 0%, #090a0f 100%);
$dark-blue: #415067;
$dark-blue-hover: #556885;
$login-select: #D9F0FF;
$light-blue: #A3D5FF;
/* $main-background: #DCE1E9; */
$main-background: #E8DFBA;
