@import "../../assets/scss/keyframes";
@import "../../assets/scss/colors";


@for $i from 0 through 600 {
  .stars:nth-child(#{$i}) {
    $size: random(3);
    width: $size + px;
    height: $size + px;
    margin-left: random(2000) + px;
    margin-top: random(2000) + px;
    border-radius: 50%;
    background: white;
    position: absolute;
    z-index: 1;
    opacity: 1;
    animation: blink 2s linear infinite;
    animation-delay: $i * 0.2s;
  }
}
.background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
  animation: bg-change 30s linear infinite running alternate-reverse;
  background: $gradient-background;
  background-size: 400% 400%;

  .wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    top: 0;
    left: 0;

    .game-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 70%;
      z-index: 10;

      .info-top {
        margin-top: 26px;
        color: $light-blue;
        margin-bottom: 10px;
        font-size: 20px;
        animation: opacity-show 0.3s;

        .timer {
          float: left;

          .fas {
            margin-right: 8px;
          }
        }

        .bomb-count {
          float: right;

          .fas {
            margin-left: 8px;
          }
        }
      }

      .info-bottom {
        animation: opacity-show 0.3s;
        .new-game, .change-board-size {
          display: inline-block;
          text-align: center;
          padding: 10px;
          font-size: 18px;
          color: $main-background;
          background: $dark-blue;
          margin-top: 20px;
          border: 1px solif $dark-blue;
          border-radius: 5px;
          cursor: pointer;
        }

        .change-board-size {
          float: right;
        }

        .new-game:hover, .change-board-size:hover {
          background: $dark-blue-hover;
        }
      }

      .board {
        text-align: center;
        .row {
          .column {
            display: inline-block;
            background: $dark-blue;
            animation: opacity-show 0.3s;
            animation-fill-mode: both;
            margin: 2px;
            cursor: pointer;

            .item {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 25px;
              width: 25px;

              &.bigger {
                width: 40px !important;
                height: 40px !important;
              }

              &.opened {
                background: $light-blue; /* $main-background */
                color: $dark-blue;
                animation: opacity-show 0.5s;
                cursor: default;

                .fas {
                  line-height: normal !important;
                }
              }

              &.closed {
                background: $dark-blue;
                color: $light-blue;
              }
            }
          }

          @for $i from 1 through 17 * 17 {
            .column-index-#{$i} {
              animation-delay: #{$i / 60}s;
              animation-fill-mode: both;
            }
          }
        }
      }
    }
    .high-score {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: opacity-show 0.3s;
    }
  }
}

.modal {
  $width: 300;
  $height: 200;
  background: $main-background;
  border-radius: 10px;
  width: $width + px;
  height: $height + px;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .header {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgb(160, 160, 160);
    padding: 10px 20px;
    font-size: 20px;
  }
  .info {
    padding: 10px 20px;
    color: grey;
    font-size: 12px;
  }
  .content {
    padding: 10px 20px;

    input {
      background: transparent;
      width: calc(100% - 20px);
      border: 1px solid $dark-blue;
      padding: 8px;
      font-size: 16px;
      border-radius: 5px;
      outline: none;
      font-weight: 100;
    }
  }
  .save-btn {
    width: calc(100% - 16px);
    background: $dark-blue;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    padding: 8px;
    text-align: center;
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: rgba(0, 0, 0, 0.6);
}
