<div class="wrapper">

  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <div class="game-wrapper">

      <div class="infos">
          <button (click)="newGame()">New game</button>
          <span style="color: white; font-size: 22px;">{{ timeInSec }} {{ allBombs }}</span>
      </div>
      <div class="board">
        <div class="row" *ngFor="let row of gameMap; let rowIndex = index">
          <span class="column column-index-{{ (rowIndex + 1) * (row.length + 1) + columnIndex}}" *ngFor="let item of row; let columnIndex = index">
            <span class="item" *ngIf="item.isClicked"> {{ item.value }} </span>
            <span class="item" *ngIf="!item.isClicked && !item.isSelected" (contextmenu)="selectField(item, rowIndex, columnIndex)" (click)="clickField(item, rowIndex, columnIndex)">
              &nbsp;
              <span *ngIf="item.value === -1">B</span>
            </span>
            <span class="item" *ngIf="item.isSelected && !endOfGame" (contextmenu)="selectField(item, rowIndex, columnIndex)">
              <i class="fas fa-flag"></i>
            </span>
          </span>
        </div>
      </div>
  </div>

  <div class="high-score">
    <div class="high-score-table">
        <div class="user" *ngFor="let user of highScore">
            {{ user.name }} :: {{ user.time }}
          </div>
    </div>
  </div>
</div>
