<div class="background">
  <div class="stars" *ngFor="let item of [].constructor(1000)"></div>

  <div class="wrapper">
    <div class="game-wrapper">
      <div class="infos">
          <button (click)="newGame()">New game</button>
          <button (click)="showModal()">show modal</button>
        <span style="color: white; font-size: 22px;"
          >{{ timeInSec }} {{ allBombs }}</span
        >
      </div>
      <div class="board">
        <div class="row" *ngFor="let row of gameMap; let rowIndex = index">
          <span
            class="column column-index-{{
              (rowIndex + 1) * (row.length + 1) + columnIndex
            }}"
            *ngFor="let item of row; let columnIndex = index"
          >
            <span class="item opened" [ngClass]="{'bigger': row.length === 9}" *ngIf="item.isClicked">
              <span *ngIf="item.value > 0">{{ item.value }}</span>
              <span *ngIf="item.value === 0">&nbsp;</span>
              <span *ngIf="item.value === -1"><i class="fas fa-bomb"></i></span>
            </span>
            <span
              class="item closed"
              *ngIf="!item.isClicked && !item.isSelected"
              (contextmenu)="selectField(item, rowIndex, columnIndex)"
              (click)="clickField(item, rowIndex, columnIndex)"
              [ngClass]="{'bigger': row.length === 9}"
            >
              &nbsp;
              <span *ngIf="item.value === -1">B</span>
            </span>
            <span
              class="item opened"
              *ngIf="item.isSelected && !endOfGame"
              (contextmenu)="selectField(item, rowIndex, columnIndex)"
              [ngClass]="{'bigger': row.length === 9}"
            >
              <i class="fas fa-flag"></i>
            </span>
          </span>
        </div>
      </div>
    </div>

    <div class="high-score">
      <div class="high-score-table">
        <div class="header">Top 5 players</div>
        <div class="user" *ngFor="let user of highScore; let i = index">
          {{ i + 1 }}. {{ user.name }} :: {{ user.time }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highscore-modal-overlay" *ngIf="showNewRecordModal"></div>
<div class="highscore-modal" *ngIf="showNewRecordModal">
  <div class="header">New Record! 😲</div>
  <div class="info">Please type your name and save your score!</div>
  <div class="content">
      <input type="text" placeholder="Your name" [(ngModel)]="userName">
  </div>
  <div class="save-btn" (click)="saveNewRecord()">Save</div>
</div>
