@keyframes opacity-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@for $i from 0 through 1000 {
  .stars:nth-child(#{$i}) {
    $size: random(3);
    width: $size + px;
    height: $size + px;
    margin-left: random(2000) + px;
    margin-top: random(2000) + px;
    border-radius: 50%;
    background: white;
    position: absolute;
    z-index: 1;
    opacity: 1;
    animation: blink 2s linear infinite;
    animation-delay: $i * 0.2s;
  }
}
.background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
  background: radial-gradient(ellipse at bottom, #2c3f55 0%, #090a0f 100%);

  .wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    top: 0;
    left: 0;

    .game-wrapper {
      /* background: red; */
      width: 70%;
      z-index: 10;

      .infos {
        margin-top: 26px;
        /* background: yellow; */
      }

      .board {
        /* background: blue; */
        text-align: center;
        .row {
          .column {
            display: inline-block;
            background: #415067;
            animation: opacity-show 0.3s;
            animation-fill-mode: both;
            margin: 2px;
            cursor: pointer;

            .item {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 25px;
              width: 25px;

              &.opened {
                background: rgb(236, 236, 236);
                color: black;
                animation: opacity-show 0.5s;
                cursor: default;
              }

              &.closed {
                background: #415067;
                color: white;
              }
            }
          }

          @for $i from 1 through 17 * 17 {
            .column-index-#{$i} {
              animation-delay: #{$i / 60}s;
              animation-fill-mode: both;
            }
          }
        }
      }
    }
    .high-score {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;

      .high-score-table {
        background: white;
      }
    }
  }
}
